<%- include("partials/header") %>

<h1>C O M P O S E</h1>
<form class="" method="post" action="/compose">
   <div class="form-group"> <label for="postTitle">Title</label>
    <input class="form-control" type="text" name="postTitle" placeholder="Title">
    <br>
    <label for="postBody">Body</label>
    <textarea class="form-control" name="postBody" rows="8" cols="80" placeholder="Write your post here..."></textarea>
    </div> 
    <button class="btn btn-primary" type="submit" name="button">PUBLISH</button>
</form>

<%- include("partials/footer") %>